{% extends 'member-panel/member-login-base.html' %}
{% load widget_tweaks %}

{% block title %}
OTP Verification
{% endblock title %}
{% block content %}
<!--begin::Login Sign in form-->
<div class="login-signin">
    <div class="mb-20">
        <h3 class="opacity-40 font-weight-normal mb-10">OTP Verification</h3>
        <form method="post">
            {% csrf_token %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
            {% endif %}


            <div class="form-group">
                <input class="form-control h-auto form-control-solid py-4 px-8" type="text" name="otp" placeholder="Enter Otp">
            </div>
            <input type="submit" value="Verify" class="btn btn-primary" />
            <a href="{% url 'member-login' %}" class="btn btn-secondary">Return to Login</a>
        </form>
    </div>
</div>
<!--end::Login Sign in form-->
{% endblock content %}